*{margin: 0;padding: 0;font-family: "Open Sans", sans-serif;}

.text_primary{
    color: #FD6E0A;
}
.dark1{
    color: #181818;
}
.dark2{
    color: #474747;
}
.dark3{
    color: #757575;
}
header.head {
    background: url(../IMG/developer.png), url(../IMG/header_bg.png);
    background-repeat: no-repeat;
    background-position: 30px 10px, bottom right;
    background-size: 80px 635px, 700px;
    background-color: #FFF8F3;
}
.nav_wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 150px;
}
.nav_wrap h3.nav_tittle{
    font-size: 45px;
    font-weight: 800;
}

ul.menu{
    display: flex;
    align-items: center;

}
ul.menu li{
    list-style: none;
    margin-right: 50px;
}
ul.menu li a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}
.btn_primary{
    font-size: 20px;
    padding: 18px 35px;
    color: #fff;
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
}
.banner_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner_content{
    margin-left: 150px;
    flex-basis: 500px;
}
.banner_content > h4{
    font-size: 45px;
    font-weight: 600;
}
.banner_content > h3{
    font-size: 75px;
    font-weight: 800;
}
.banner_content > p{
    font-size: 18px; 
    margin: 20px 0 30px 0;
}
.img_wrap{
    flex-basis: 500px;
}
.img_wrap img {
    width: 450px;
    height: 540px;
    margin-bottom: -5px;
}


  
.btn_secondary{
    background: none;
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
    font-weight: 700;
}
.btn_secondary::before{
    content: "\f095"; 
    font-family: "Font Awesome 5 Free";
    padding-right: 8px;
}
.download_btn::before {
    content: "\f019"; 
    font-family:"Font Awesome 5 Free";
    font-weight: 900; 
    padding-right: 8px; 
}